<div class="page has-sidebar-left">
    <div>
        <div class="container-fluid animatedParent animateOnce my-3">
            <div class="animated fadeInUpShort">
                <div class="tab-content" id="v-pills-tabContent">
                    {{#with this.course}}
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card mt-3 mb-3">
                                    <ul class="no-b">
                                        <li class="list-group-item">
                                            <a>
                                                <div>
                                                    <img class="img-fluid"
                                                        src="data:image/png;base64, {{encodeMyString courseImage}}">
                                                </div>
                                                <div>
                                                    <h2 class="p-t-10"><b>Course Name:</b> {{courseName}}</h2>
                                                    <h4><b>Status:</b> <span
                                                            style="background-color: green; padding:5px; color:white">{{status}}</span>
                                                    </h4>
                                                    <h4><b>Short Description:</b> {{shortDesc}}</h4>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="card-header bg-white">
                                        <strong class="card-title">Detail</strong>
                                    </div>
                                    <div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="mr-3">
                                                    Category
                                                </div>
                                                <h6 class="p-t-10">{{category}}</h6>
                                            </li>
                                            {{#with ../author}}
                                            <li class="list-group-item">
                                                <div class="mr-3">
                                                    Author
                                                </div>
                                                <div class="row">
                                                    <div class="col-8">
                                                        <h6 class="p-t-10 row">
                                                            <div class="col-2">
                                                                Name:
                                                            </div>
                                                            <div class="col-6">
                                                                {{firstName}} {{lastName}}
                                                            </div>
                                                        </h6>
                                                        <h6 class="p-t-10 row">
                                                            <div class="col-2">
                                                                Email:
                                                            </div>
                                                            <div class="col-6">
                                                                {{email}}
                                                            </div>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </li>
                                            {{/with}}
                                            <li class="list-group-item">
                                                <div class="mr-3">
                                                    Tuition
                                                </div>
                                                <h6 class="p-t-10">{{tuition}} $</h6>
                                            </li>

                                            <li class="list-group-item">
                                                <div class="mr-3">
                                                    Course Statistics
                                                </div>
                                                <h6 class="p-t-10 row">
                                                    <div class="col-6">
                                                        Rating Score:
                                                    </div>
                                                    <div class="col-2">
                                                        {{ratingScore}}
                                                    </div>
                                                </h6>
                                                <h6 class="p-t-10 row">
                                                    <div class="col-6">
                                                        Number of ratings:
                                                    </div>
                                                    <div class="col-2">
                                                        {{ratingNumber}}
                                                    </div>
                                                </h6>
                                                <h6 class="p-t-10 row">
                                                    <div class="col-6">
                                                        Number of enrollment:
                                                    </div>
                                                    <div class="col-2">
                                                        {{enrollNumber}}
                                                    </div>
                                                </h6>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="mr-3">
                                                    Detail Description:
                                                </div>
                                                <h6 class="p-t-10">
                                                    {{detailDesc}}
                                                </h6>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-3">
                                <form id="needs-validation" novalidate method="POST" action="/course/{{id}}">
                                    <div class="card mt-4">
                                        <h6 class="card-header white">Update Status</h6>
                                        <div class="card-body text-success">
                                            <div class="mb-3">
                                                <div class="custom-control mb-3" style="padding-left: 0;">
                                                    <label>Status</label>
                                                    <select class="custom-select form-control" required name="status">
                                                        <option value="">Select Status</option>
                                                        <option value="completed">completed</option>
                                                        <option value="incompleted">incompleted</option>
                                                    </select>
                                                    <div class="invalid-feedback">Please choose status</div>
                                                </div>
                                            </div>
                                            <div class="custom-control custom-checkbox mb-3">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="customControlValidation1" style="" required>
                                                <label class="custom-control-label" for="customControlValidation1">Are
                                                    you sure?</label>
                                                <div class="invalid-feedback">Please confirm</div>
                                            </div>
                                        </div>
                                        <div class="card-footer bg-transparent">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                        </div>
                                </form>
                                <script>
                                    (function () {
                                        "use strict";
                                        window.addEventListener("load", function () {
                                            var form = document.getElementById("needs-validation");
                                            form.addEventListener("submit", function (event) {
                                                if (form.checkValidity() == false) {
                                                    event.preventDefault();
                                                    event.stopPropagation();
                                                }
                                                form.classList.add("was-validated");
                                            }, false);
                                        }, false);
                                    }());
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                {{/with}}
            </div>
        </div>
    </div>

</div>
</div>