<div class="page has-sidebar-left">
    <header class="blue accent-3 relative">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-package"></i>
                            Edit Course
                        </h4>
                    </div>
                </div>
            </div>
        </header>
    <div class="container-fluid animatedParent animateOnce my-3">
        <div class="animated fadeInUpShort">
            {{#with this.course}}
            <form id="needs-validation" novalidate enctype="multipart/form-data" method="POST" action="/course/edit/{{id}}">
                <div class="row">
                    <div class="col-md-8 ">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Course Image</label>
                                <img src="data:image/png;base64, {{encodeMyString courseImage}}">
                                <input type="file" class="form-control" name="courseImage">
                                <span style="color: red;">If using current Image do not input this field</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Course Name</label>
                                <input type="text" class="form-control" required name="courseName"
                                    value="{{courseName}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Catogory</label>
                                <select id="category" class="custom-select form-control" required name="category">
                                    {{#select category}}
                                        <option value="">Select Category</option>
                                        {{#each ../categories}}
                                        <option value="{{name}}">{{name}}</option>
                                        {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Short Description</label>
                                <input type="text" class="form-control" required name="shortDesc" value="{{shortDesc}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>Tuition</label>
                                <input type="number" class="form-control" required min="0" placeholder="$"
                                    name="tuition" value="{{tuition}}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Promotion info</label>
                                <input type="text" class="form-control" name="promotionInfo" value="{{promotionInfo}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Detail Description</label>
                                <textarea id="mytextarea" name="detailDesc">{{{detailDesc}}}</textarea>
                            </div>
                        </div>
                        <script>
                            (function () {
                                "use strict";
                                window.addEventListener("load", function () {
                                    var form = document.getElementById("needs-validation");
                                    form.addEventListener("submit", function (event) {
                                        if (form.checkValidity() == false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                        form.classList.add("was-validated");
                                    }, false);
                                }, false);
                            }());
                        </script>
                    </div>
                    <div class="col-md-3">
                        <div class="card mt-4">
                            <h6 class="card-header white">Publish Box</h6>
                            <div class="card-body text-success">

                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customControlValidation1"
                                        required>
                                    <label class="custom-control-label" for="customControlValidation1">Are you
                                        sure?</label>
                                    <div class="invalid-feedback">Please confirm</div>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent">
                                <button class="btn btn-primary" type="submit">Publish</button>
                                <a class="btn btn-primary" href="/course/detail/{{id}}" type="button">Back Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {{/with}}
        </div>
    </div>
</div>