{{#section 'js'}}
<script>
    let editProfile = document.querySelector("#editProfile");

    editProfile.addEventListener('change', function () {
        if (this.checked) {
            // disable all input checkbox
            $("#frmProfile :input.edit-field").attr("disabled", false);
            $("#frmProfile  button.edit-field").attr("disabled", false);
        } else {
            $("#frmProfile :input.edit-field").attr("disabled", true);
            $("#frmProfile button.edit-field").attr("disabled", true);
        }
    });

</script>
{{/section}}

<div class="container">
    <div class="user-profile">
        <div class="row">
            <div class="col-12 col-lg-3 user-profile-sidebar">

                <div class="text-center">
                    {{#if authUser.userImage}}
                    <img src="data:image/png;base64,{{this.user.avatar}}" class="rounded-circle" alt="avatar" width="80"
                        height="80">
                    {{else}}
                    <img src="{{this.user.avatar}}" class="rounded-circle" alt="avatar" width="80" height="80">
                    {{/if}}
                    <p class="my-2 font-weight-bold">{{this.user.firstName}} {{this.user.lastName}}</p>
                </div>

                <div class="border-bottom"></div>

                <div class="py-2">
                    <div class="user-profile-sidebar__item py-2 active">
                        <i class="fa fa-home mr-3"></i>
                        <span>My profile</span>
                    </div>
                    <div class="user-profile-sidebar__item py-2">
                        <i class="fa fa-graduation-cap mr-3"></i>
                        <span>My learning</span>
                    </div>
                    <div class="user-profile-sidebar__item py-2">
                        <i class="fa fa-heart mr-3"></i>
                        <span>My wishlist</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 user-profile-content">
                <div class="user-profile-content__title py-2 text-center ">
                    <h2 class="mb-2">Public profile</h2>
                    <p>Add information about your self</p>
                </div>
                <div class="border-bottom"></div>
                <div class="user-profile-content__detail mt-3">

                    <div class="form-group">
                        <label for="editProfile">Edit</label>
                        <input type="checkbox" class="form-comtrol" id="editProfile">
                    </div>
                    <form action="/profile/edit/{{this.user.id}}" enctype="multipart/form-data" id="frmProfile" method="POST">
                        <div class="row">
                            <div class="form-group col-12 col-lg-6">
                                <label for="exampleInputEmail1">First name</label>
                                <input type="text" class="form-control edit-field" id="txtFirstName" name="firstName"
                                    value="{{this.user.firstName}}" disabled>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                                <label>Last name</label>
                                <input type="text" class="form-control edit-field" id="txtLastName" name="lastName"
                                    value="{{this.user.lastName}}" disabled>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                                <label>Username</label>
                                <input type="text" class="form-control " id="txtUserName" name="username" disabled
                                    value="{{this.user.username}}">
                            </div>

                            <div class="form-group col-12 col-lg-6">
                                <label>Date of birth</label>
                                <input type="date" class="form-control edit-field" data-format-date="yyyy-mm-dd"
                                    id="txtDOB" name="dob" value="{{date this.user.dob}}" disabled>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                                <label>Email</label>
                                <input type="text" class="form-control edit-field" id="txtEmail" name="email"
                                    value="{{this.user.email}}" disabled>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                                <label>Phone number</label>
                                <input type="text" class="form-control edit-field" id="txtPhoneNumber"
                                    name="phoneNumber" value="{{this.user.phoneNumber}}" disabled>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                                <label>Avatar</label>
                                <input type="file" class="form-control edit-field" id="avatar"
                                    name="userImage" disabled>
                            </div>
                        </div>


                        <button type="submit" class="btn btn-success edit-field" disabled>Update my profile</button>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>