{{#section 'js'}}

{{/section}}

<div class="container">
    <div class="user-profile">
        <div class="row">
            <div class="col-12 col-lg-3 user-profile-sidebar">

                <div class="text-center">
                    {{#if authUser.userImage}}
                    <img src="data:image/png;base64,{{this.user.avatar}}" class="rounded-circle" alt="avatar" width="80"
                        height="80">
                    {{else}}
                    <img src="{{this.user.avatar}}" class="rounded-circle" alt="avatar" width="80" height="80">
                    {{/if}}
                    <p class="my-2 font-weight-bold">{{this.user.firstName}} {{this.user.lastName}}</p>
                </div>

                <div class="border-bottom"></div>

                <div class="py-2">
                    <div class="user-profile-sidebar__item py-2 " id="profile">
                        <i class="fa fa-home mr-3"></i>
                        <a href="user/profile/{{authUser.id}}">My profile</a>
                    </div>
                    <div class="user-profile-sidebar__item py-2 active" id="learning">
                        <i class="fa fa-graduation-cap mr-3"></i>
                        <a href="/user/learning/{{authUser.id}}">My learning</a>
                    </div>
                    <div class="user-profile-sidebar__item py-2" id="wishlist">
                        <i class="fa fa-heart mr-3"></i>
                        <a href="#">My wishlist</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>