<div class="page has-sidebar-left">
    <header class="blue accent-3 relative">
        <div class="container-fluid text-white">
            <div class="row p-t-b-10 ">
                <div class="col">
                    <h4>
                        <i class="icon-package"></i>
                        Edit category
                    </h4>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid animatedParent animateOnce my-3">
        <div class="animated fadeInUpShort">
            {{#if err_message}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{err_message}}
            </div>
            {{/if}}
            {{#with category}}
            <form id="needs-validation" novalidate method="POST" action="/category/edit/{{id}}">
                <div class="row">
                    <div class="col-md-8 ">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Category Name</label>
                                <input type="text" class="form-control" required name="category_name"
                                    value="{{category_name}}">
                            </div>
                            <div class="col-md-12 mb-3">
                                <label>Category Description</label>
                                <input type="text" class="form-control" required name="category_des"
                                    value="{{category_des}}">
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Update</button>
                        <a href="/category/detail/{{id}}" class="btn btn-primary" type="submit">Back Detail Category</a>
                        <script>
                            (function () {
                                "use strict";
                                window.addEventListener("load", function () {
                                    var form = document.getElementById("needs-validation");
                                    form.addEventListener("submit", function (event) {
                                        if (form.checkValidity() == false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                    }, false);
                                }, false);
                            }());
                        </script>
                    </div>
                </div>
            </form>
            {{/with}}
        </div>
    </div>
</div>