<div id="app">
    <div class="page has-sidebar-left">
        <header class="blue accent-3 relative">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-account_box"></i>
                            Users
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav responsive-tab nav-material nav-material-white">
                        <li>
                            <a class="nav-link active" href="/user"><i class="icon icon-list"></i>All
                                Users</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/user/add"><i class="icon icon-plus-circle"></i> Add New
                                User</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container-fluid animatedParent animateOnce my-3">
            <div class="animated fadeInUpShort">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card no-b shadow">
                            <div class="card-title">
                                <h3>Teacher User</h3>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-hover display" id="table1">
                                        <thead>
                                            <tr>
                                                <td>
                                                    <h6>Name</h6>
                                                </td>
                                                <td>Username</td>
                                                <td>Email</td>
                                                <td>
                                                    <span></i>Date of birth</span>
                                                </td>
                                                <td>
                                                    <span></i>Action</span>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each this.teachers}}
                                            <tr class="no-b">
                                                <td>
                                                    <h6>{{lastName}} {{firstName}}</h6>
                                                </td>
                                                <td>{{username}}</td>
                                                <td>{{email}}</td>
                                                <td>
                                                    <span></i>{{dob}}</span>
                                                </td>
                                                <td class="d-flex">
                                                    <a href="/user/detail/{{id}}"
                                                        class="btn-fab btn-fab-sm btn-primary shadow text-white mr-1"><i
                                                            class="icon-eye3"></i></a>
                                                    <a class="btn-fab btn-fab-sm btn-warning shadow text-white mr-1 updateStatus"
                                                        data-id="{{id}}" style="cursor: pointer;">
                                                        {{#ifEquals status 'deactivate'}}
                                                        <i class="icon-lock"></i>
                                                        {{/ifEquals}}
                                                        {{#ifEquals status 'active'}}
                                                        <i class="icon-lock-open2"></i>
                                                        {{/ifEquals}}
                                                    </a>
                                                    <a class="btn-fab btn-fab-sm btn-danger shadow text-white deleteRow"
                                                        style="cursor: pointer;" data-id="{{id}}"><i
                                                            class="icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <div class="card no-b shadow">
                            <div class="card-title">
                                <h3>Student User</h3>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-hover display" id="table2">
                                        <thead>
                                            <tr>
                                                <td>
                                                    <h6>Name</h6>
                                                </td>
                                                <td>Username</td>
                                                <td>Email</td>
                                                <td>
                                                    <span></i>Date of birth</span>
                                                </td>
                                                <td>
                                                    <span></i>Action</span>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each this.students}}
                                            <tr class="no-b">
                                                <td>
                                                    <h6>{{lastName}} {{firstName}}</h6>
                                                </td>
                                                <td>
                                                    {{username}}
                                                </td>
                                                <td>{{email}}</td>
                                                <td>
                                                    <span></i>{{dob}}</span>
                                                </td>
                                                <td class="d-flex">
                                                    <a href="/user/detail/{{id}}"
                                                        class="btn-fab btn-fab-sm btn-primary shadow text-white mr-1"><i
                                                            class="icon-eye3"></i></a>
                                                    <a class="btn-fab btn-fab-sm btn-warning shadow text-white mr-1 updateStatus"
                                                        data-id="{{id}}" style="cursor: pointer;">
                                                        {{#ifEquals status 'deactivate'}}
                                                        <i class="icon-lock"></i>
                                                        {{/ifEquals}}
                                                        {{#ifEquals status 'active'}}
                                                        <i class="icon-lock-open2"></i>
                                                        {{/ifEquals}}
                                                    </a>
                                                    <a class="btn-fab btn-fab-sm btn-danger shadow text-white deleteRow"
                                                        style="cursor: pointer;" data-id="{{id}}"><i
                                                            class="icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="control-sidebar-bg shadow white fixed"></div>
</div>
<script>
    $(document).ready(function () {
        const table1 = $('#table1').DataTable({
            "pagingType": "full_numbers",
            "pageLength": 5,
            "lengthChange": false
        });

        const table2 = $('#table2').DataTable({
            "pagingType": "full_numbers",
            "pageLength": 5,
            "lengthChange": false
        });

        $('#table1 tbody').on('click', '.updateStatus', function () {
            const id = $(this).data('id')
            $.post(`/user/status/${id}`).then(() => {
                $(this).children('i').prop('class') == 'icon-lock' ? $(this).children('i').removeClass('icon-lock').addClass('icon-lock-open2') : $(this).children('i').removeClass('icon-lock-open2').addClass('icon-lock')
            })
        })

        $('#table1 tbody').on('click', '.deleteRow', function () {
            const id = $(this).data('id')
            $.post(`/user/delete/${id}`).then(() => {
                table1
                    .row($(this).parents('tr'))
                    .remove()
                    .draw();
            })
        })

        $('#table1 tbody').on('click', '.updateStatus', function () {
            const id = $(this).data('id')
            $.post(`/user/status/${id}`).then(() => {
                $(this).children('i').prop('class') == 'icon-lock' ? $(this).children('i').removeClass('icon-lock').addClass('icon-lock-open2') : $(this).children('i').removeClass('icon-lock-open2').addClass('icon-lock')
            })
        })

        $('#table1 tbody').on('click', '.deleteRow', function () {
            const id = $(this).data('id')
            $.post(`/user/delete/${id}`).then(() => {
                table1
                    .row($(this).parents('tr'))
                    .remove()
                    .draw();
            })
        })
    });
</script>